<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.atguigu.spzx.user.mapper.UserAddressMapper">

    <resultMap id="userAddressMap" type="com.atguigu.spzx.model.entity.user.UserAddress" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,user_id,name,phone,tag_name,province_code,city_code,district_code,address,full_address,is_default,create_time,update_time,is_deleted
    </sql>

    <select id="findByUserId" resultMap="userAddressMap">
        select <include refid="columns" />
        from user_address
        where
        user_id = #{userId}
    </select>

    <select id="getById" resultMap="userAddressMap">
        select <include refid="columns" />
        from user_address
        where
        id = #{id}
    </select>

</mapper>